SSID='<wifi_ssid>'
PASS='<wifi_pass>'
URL='<api_endpoint_base_url>'
IS_CONNECT_WIFI=True/False
AUTHORIZATION='<authorization_code>'
MOVE_ENDPOINT='<api_endpoint_move>'
RMS_ENDPOINT='<api_endpoint_rms>'